<mat-sidenav-container fullscreen>
  <header>
    <mat-toolbar id="toolbar" color="primary">
      <span class="toolbar-text">臺中市政府場管容留管制</span>
      <span class="spacer"></span>
      <mat-icon *ngIf="connectionState; else disconnect">cloud</mat-icon>
      <ng-template #disconnect>
        <mat-icon>cloud_off</mat-icon>
      </ng-template>
    </mat-toolbar>
  </header>

  <mat-accordion class="location-headers-align">
    <mat-expansion-panel #locationPanel *ngFor="let location of locations | async"
                         (opened)="currentLocation = location">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ location?.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ location?.current }} / {{ location?.capacity }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="locationFormGroup">
        <mat-form-field>
          <mat-label>地點名稱</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>容留人數</mat-label>
          <input matInput formControlName="capacity"
                 type="number">
        </mat-form-field>

        <mat-form-field>
          <mat-label>目前人數</mat-label>
          <input matInput formControlName="current"
                 type="number">
        </mat-form-field>

        <mat-action-row>
          <button mat-button 
                  (click)="locationPanel.close()">取消</button>
          <button mat-raised-button color="primary" 
                  [disabled]="locationFormGroup.invalid"
                  (click)="save(location)">儲存</button>
        </mat-action-row>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</mat-sidenav-container>
