<mat-sidenav-container fullscreen>
  <header>
    <mat-toolbar id="toolbar" color="primary">
      <span>臺中市政府場管容留管制</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="連線狀態" matTooltipPosition="left">
        <mat-icon *ngIf="connectionState; else disconnect">cloud_done</mat-icon>
        <ng-template #disconnect>
          <mat-icon>cloud_off</mat-icon>
        </ng-template>
      </button>
      <div *ngIf="currentUser?.isAdmin">
        <button mat-icon-button matTooltip="選單" 
                [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addLocation()">
            <mat-icon>add</mat-icon>
            <span>新增地點</span>
          </button>
          <button mat-menu-item (click)="refreshLocations()">
            <mat-icon>refresh</mat-icon>
            <span>全部歸零</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </header>

  <router-outlet></router-outlet>
</mat-sidenav-container>
