@import '~@angular/material/theming';

#toolbar {
    @include mat-elevation(4);
    height: 10vh;
}

#toolbar span {
    font-size: 4vmin;
}

.spacer {
    flex: 1 1 auto;
}

.add-fab {
  position: fixed;
  top: 100px;
  right: 15px;
  bottom: auto;
  left: auto;
}

.sub-fab {
  position: fixed;
  top: auto;
  right: 15px;
  bottom: 150px;
  left: auto;
}

.qrcode-toolbar {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  height: 100px;

  qrcode {
      height: 100%;
      padding-right: 20px;
  }
}

.form-field {
    width: 100%;
}

::ng-deep .ngx-charts { 
    .label { 
        font-size: 3vh !important;
        fill: #fff !important; 
    } 
}
