<mat-accordion class="location-headers-align">
  <mat-expansion-panel #locationPanel *ngFor="let location of locations"
                       (opened)="currentLocation = location">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ location?.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ location?.current }} / {{ location?.capacity }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form #locationForm="ngForm" [formGroup]="locationFormGroup" 
          (ngSubmit)="updateLocation(locationForm.form, location); locationPanel.close()">
      <mat-form-field>
        <mat-label>地點名稱</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>容留人數</mat-label>
        <input matInput formControlName="capacity"
               type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>目前人數</mat-label>
        <input matInput formControlName="current"
               type="number">
      </mat-form-field>

      <mat-action-row>
        <button mat-button (click)="locationPanel.close()">取消</button>
        <button mat-raised-button type="submit" color="primary" 
                [disabled]="locationFormGroup.invalid">儲存</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</mat-accordion>