/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';

// Include material core styles.
@include mat-core();

// Define the light theme
$primary:   mat-palette($mat-pink);
$accent:    mat-palette($mat-blue-gray);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);